/*----------- About ----------*/

.row {
    display: flex;
    justify-content: space-between;
}

.about-col-1 {
    margin-bottom: 2%;
}

.about-col-1 img {
    margin-top: 5%;
    width: 80%;
    /* Increase the width of the image */
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 50%;
    /* Adjust the width of the second column accordingly */
}

/* ------------------------------------------------------------- */

h1.sub-title span {
    color: #40E0D0;
}