/*----------- Buttons ----------*/
.btn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #40E0D0;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.5s;
    background: black;
}

.btn:hover {
    background: #40E0D0;
}

.goToTop {
    margin-left: 43%;
}