/*----------- Buttons ----------*/ .btn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #40E0D0;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.5s;
}

.btn:hover {
    background: #40E0D0;
}

.btn2 {
    display: inline-block;
    background: #40E0D0;
    max-width: 240px;
    font-size: small;
}

.btn2:hover {
    color: #080808;
    background: white;
}

.btn3 {
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #40E0D0;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.5s;
}

.btn3:hover {
    background: white;
    color: black;
}