/*----------- Contact Me ----------*/
#contact {
    width: 100%;
    background-color: #f9f9f9;;
    border-radius: 10px;
}

.contact-left {
    width: 50%;
    float: left;
    padding: 20px;
}

.contact-left .sub-title {
    margin-bottom: 20px;
}

.contact-left .spacing3 {
    margin-bottom: 10px;
}