/*----------- Nav ----------*/
/* Add your custom styles here */
.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    /* Aligning the content in the center */
}

.navbar a {
    display: inline-block;
    /* Displaying buttons inline */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar .btn {
    margin-right: 20px;
    float: right;
}

/* ------------------------------------------------------------- */
/* Style for the search bar */
.search-container {
    display: inline-block;
}

.search-container input[type=text] {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    width: 500px;
    border: 1px solid #40E0D0;
    margin-left: 80px;
}

.search-container button {
    display: none;
}

/* ------------------------------------------------------------- */
form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}

/* ------------------------------------------------------------- */
/* Media query for PC size */
@media screen and (min-width: 600px) {
    #sidemenu {
        display: none;
    }

    .navbar .fa-bars {
        display: none;
    }

    .search-container {
        margin-top: 15px;
    }
}