/* Responsive styles for small screens */
@media (max-width: 600px) {
    /* Adjust styles for small screens */

    /* Centering text */
    .header-text,
    #about,
    #hobbies,
    #experience,
    #contact,
    .row,
    .container,
    .sub-title,
    .tab-links {
        text-align: center;
    }

    /* Centering block-level elements and adjusting font sizes */
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .sub-title {
        font-size: 40px;
    }

    .textFont {
        text-align: auto;
    }

    .about-col-1,
    .about-col-2,
    .contact-left,
    .contact-right {
        flex-basis: 100%;
        margin-bottom: 30px;
        /* For .about-col-1 */
        font-size: 14px;
        /* For .about-col-2 */
        order: 1;
        /* Reset the order */
        box-sizing: border-box;
    }

    /* Centering navigation */
    nav .fas {
        display: block;
        font-size: 25px;
        margin: 0 auto;
    }

    nav ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* Adjust button centering */
    .btn {
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    /* Placing the contact form below the contact information */
    .contact-right {
        order: 2;
    }

    /* Additional centering styles */
    .container,
    .row,
    nav,
    .header-text,
    #sidemenu,
    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Hide the full sidemenu */
    #sidemenu {
        position: fixed;
        top: 0;
        right: -200px;
        /* Start off-screen to the right */
        width: 200px;
        height: 100%;
        transition: right 0.5s;
        /* Animate the 'right' property for smooth sliding */
    }

    /* Display hamburger menu icon */
    .fas.fa-bars {
        display: block;
        cursor: pointer;
        font-size: 25px;
    }

    .fa-bars::before {
        float: right;
    }

    /* Show the sidemenu when the menu icon is clicked */
    .menu-open #sidemenu {
        display: flex;
        /* Re-display the sidemenu */
    }

    /* Adjust sidemenu items */
    #sidemenu li a {
        font-size: large;
        /* Adjust font size */
        padding: 10px;
        /* Add padding */
        display: block;
        /* Display as block to fill the width of the menu */
    }

    /* Adjustments for the 'About Me' section */
    .about-col-1 img {
        margin: 0 auto;
        /* Center the image */
        display: block;
        /* Ensure it is block level for auto margins to work */
        margin-top: 30px;
        /* Maintain top margin */
    }

    .tab-titles {
        display: block;
        /* Stack tab titles on top of each other */
        margin-bottom: 20px;
        /* Provide bottom margin for spacing */
    }

    .tab-links {
        margin: 10px auto;
        /* Center align the tab links with margin */
        display: block;
        /* Make each tab link a block element */
    }

    .tab-contents ul {
        padding: 0;
        /* Remove padding from ul */
    }

    .tab-contents ul li {
        text-align: center;
        /* Center align the list items */
        font-size: 16px;
        /* Adjust font size for readability on mobile */
        list-style-type: none;
        /* Remove bullet points */
    }

    .tab-contents.active-tab {
        display: block;
        /* Make sure active tab content is displayed */
    }

    .hobbies-list div:hover {
        background: #262626;
        transform: none;
    }

    .work-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 2%;
        padding-left: 20%;
    }

    .seeMore {
        background-color: black;
        margin-right: 23%;
    }

    /* Styles for About section */
    .row {
        display: flex;
        justify-content: space-between;
    }

    .about-col-1 {
        margin-bottom: 2%;
    }

    .about-col-1 img {
        margin-top: 5%;
        width: 80%;
        /* Increase the width of the image */
        border-radius: 15px;
    }

    .about-col-2 {
        flex-basis: 50%;
        /* Adjust the width of the second column accordingly */
    }

    /* Styles for Buttons */
    .btn {
        display: block;
        margin: 30px auto;
        width: fit-content;
        border: 1px solid #40E0D0;
        padding: 14px 50px;
        border-radius: 6px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        transition: background 0.5s;
        background: black;
    }

    .btn:hover {
        background: #40E0D0;
    }

    .goToTop {
        margin-left: 28%;
    }

    /* Styles for Contact Me section */
    #contact {
        width: 100%;
        background-color: #f9f9f9;
        border-radius: 10px;
    }

    .contact-left {
        width: 100%;
        float: left;
        padding: 20px;
    }

    .contact-left .sub-title {
        margin-bottom: 20px;
    }

    .contact-left .spacing3 {
        margin-bottom: 10px;
    }

    /* Styles for Education section */
    .education-col-1 {
        width: 100%;
    }

    .education-col-2 img {
        display: none;
    }

    /* Styles for Experience section */
    .experience-col-1 {
        width: 100%;
    }

    .experience-col-2 img {
        display: none;
    }

    /* Styles for Pop-up form container */
    .form-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #f1f1f1;
        z-index: 999;
        background-color: white;
        padding: 20px;
        max-width: 400px;
        /* Adjust the maximum width as needed */
        width: 100%;
        /* Ensure the popup takes full width */
    }

    .form-container input[type=text],
    .form-container input[type=password] {
        width: 100%;
        padding: 10px;
        margin: 5px 0 10px 0;
        border: none;
        background: #f1f1f1;
    }

    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    .form-container .cancel {
        background-color: red;
    }

    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }

    /* Styles for Hobbies section */
    .hobbies-col-1 {
        width: 100%;
    }

    .hobbies-col-2 img {
        display: none;
    }

    /* Styles for Navbar */
    .navbar {
        background-color: #333;
        overflow: hidden;
        padding: 10px 0;
        text-align: center;
    }

    .navbar a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

    .navbar .btn {
        display: none;
    }

    .navbar .btn-left {
        display: none;
    }

    /* Styles for search bar */
    .search-container {
        display: none;
    }

    .search-container input[type=text] {
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
        width: 500px;
        border: 1px solid #40E0D0;
        margin-left: 80px;
    }

    .search-container button {
        display: none;
    }

    /* Overall styles */
    * {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
    }

    body {
        background: #ffffff;
        color: #000000;
    }

    /* Header styles */
    #header {
        width: 100%;
        height: 51pc;
        margin-bottom: 100px;
    }

    .header-text {
        margin-top: 20%;
        font-size: 30px;
        margin-left: 5%;
    }

    .header-text h1 {
        font-size: 60px;
        margin-top: 20px;
    }

    /* Layer styles */
    .layer {
        width: 100%;
        height: 0;
        color: #080808;
        background: linear-gradient(rgba(223, 223, 223, 0.329), #ffffff);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        transition: height 0.5s;
        font-size: 20px;
        font-weight: 500;
    }

    .layer h3 {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .layer a {
        margin-top: 20px;
        color: #6ed4b2;
        text-decoration: none;
        font-size: 20px;
        line-height: 60px;
        background-color: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }

    /* Miscellaneous styles */
    .seeMore {
        background-color: black;
        margin-right: 47%;
    }

    .spacing1 {
        margin-bottom: 5%;
    }

    .link {
        color: #ffffff;
    }

    .alternative-bg {
        background-color: #40E0D0;
        color: #080808;
    }

    .textFont {
        font-weight: 500;
    }

    .container {
        padding: 10px 8%;
    }

    .sub-title {
        font-size: 60px;
        font-weight: 600;
        color: #000000;
    }

    /* Tab styles */
    .tab-links.active-link::after {
        width: 50%;
        background: black;
    }

    .tab-titles {
        display: flex;
        margin: 20px 0 40px;
    }

    .tab-links {
        margin-right: 10%;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }

    .tab-links::after {
        content: "";
        width: 0;
        height: 3px;
        background: #ffffff;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
    }

    .tab-links.active-link::after {
        width: 50%;
    }

    .tab-contents ul li {
        list-style: none;
        margin: 10px 0;
    }

    .tab-contents ul li span {
        color: #40E0D0;
        font-size: 14px;
    }

    .tab-contents {
        display: none;
    }

    .tab-contents.active-tab {
        display: block;
    }

    #sidemenu {
        display: block;
    }

    .navbar .fa-bars {
        display: block;
        float: right;
    }

    .search-container {
        margin-top: 15px;
    }
}